.span {
  display: flex;
  align-items: center;
}

/* strong {
  margin-left: 0 !important;
  position: absolute;
  top: 55px;
  left: 92px;
  z-index: 999;
} */

.inder-logo {
    display: flex;
    align-items: baseline;
}

.circle {
  position: relative;
  background-color: #363853;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  /* margin-right: 5px; */
  /* z-index: 999; */
}

ul li {
  list-style: none;
}

.leftSide {
  height: 100vh;
  background-color: #a0a0b4;
  border-radius: 50px;
}

.sidebar {
    width: 300px;
  /* padding: 40px 40px; */
}

.dashItem:active,
.dashItem:hover {
  background-color: #fff;
  border-radius: 25px 25px 25px 25px;
  position: relative;
  
}
.dashItem {
    width: 100%;
  /* background-color: #fff; */
  border-radius: 25px 25px 25px 25px;
  position: relative;
  
}

.dashItem::before{
  content: "";
  position: absolute;
  top: -60px;
  right: 0;
  height: 40px;
  width: 40px;
  border-bottom-right-radius: 50%;
  background: #a0a0b4;
  box-shadow: 0 20px 0 0 #000;
}

/* .dashItem::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 110px;
  height: 40px;
  width: 40px;
  border-top-right-radius: 50%;
  background: #fff;
  box-shadow: 0 20px 0 0 #a0a;
} */
